node_modules

.git
.env

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

*/.yarn/*
!*/.yarn/patches
!*/.yarn/plugins
!*/.yarn/releases
!*/.yarn/sdks
!*/.yarn/versions

dist
*/dist
